<ion-content class="ion-padding recuperar-container">
  <div class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <h1 class="title">¿OLVIDASTE TU<br>CONTRASEÑA?</h1>
  </div>

  <div class="form-container">
    <div class="icon-container">
      <ion-icon name="lock-closed-outline"></ion-icon>
    </div>

    <p class="description">
      ¿Problemas para iniciar sesión?<br>
      Ingresa tu correo electrónico y te enviaremos un enlace para que recuperes el acceso a tu cuenta.
    </p>

    <ion-item>
      <ion-input type="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" class="send-button">Enviar enlace</ion-button>

    <p class="footer-text">
      ¿No tienes una cuenta? <a href="/registro">Regístrate</a>
    </p>
  </div>
</ion-content>
